.hover {
        position:absolute;
        z-index:2;
        top: calc(50vh - 50px);
        left: calc(50vw - 50px);
        color:grey;

        flex-direction: row;
        justify-content: center; /* vertically aligns items */
        align-items: center; /* horizontally aligns items */
        display: none; /* Make visible, centered with 'flex' */

        opacity: 1;

        xbackground:white;
        xborder-style:solid;
        xborder-width:2px;
        xborder-color:grey;
}
